services:
  local_server:
    # image: nginx:stable-alpine
    build: .
    container_name: ${CONTAINER_PROXY:-local_server}
    restart: always
    volumes:
      # Nginx configuration
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/logs:/var/log/nginx

      # phpMyAdmin configuration
      - ./docker/pma-config.inc.php:/var/www/html/phpmyadmin/config.inc.php
      
      # php configuration
      - ./docker/conf-php.ini:/usr/local/etc/php/conf.d/xxx-php.ini
    working_dir: /var/www/html
    environment:
      # phpmyadmin configuration  
      PMA_HOST: ${CONTAINER_DB:-database}
      PMA_USER: ${DB_ROOT_USER:-root}
      PMA_PASSWORD: ${DB_ROOT_PASSWORD:-root_password}
      MAX_EXECUTION_TIME : ${MAX_EXECUTION_TIME:-10000}
      PMA_ARBITRARY: 0
      
      # php configuration
      TZ: '${TIMEZONE:-Asia/Kuala_Lumpur}'
      UPLOAD_LIMIT: ${UPLOAD_LIMIT:-2048M}
      MEMORY_LIMIT : ${MEMORY_LIMIT:-1024M}
    ports:
     - "80:80"
     - "8000:8000"
     - "5173:5000"

  database:
    image: mysql:latest
    container_name: ${CONTAINER_DB:-database}
    restart: always
    environment:         
      TZ: '${TIMEZONE:-Asia/Kuala_Lumpur}'
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD:-root_password}
      MYSQL_INIT_SQL: |
        SET @@GLOBAL.sql_mode=(SELECT REPLACE(@@sql_mode,'ONLY_FULL_GROUP_BY',''));
    volumes:
      - database:/var/lib/mysql
      - ./database/initdb.sql:/docker-entrypoint-initdb.d/initdb.sql
      - ./database:/import_database

  redis:
    container_name: ${CONTAINER_REDIS:-redis}
    image: redis:alpine
    restart: always
    command: redis-server --save 20 1 --loglevel warning --requirepass ${REDIS_PASSWORD:-redis_password}
    environment:
      REDIS_PASSWORD: ${REDIS_PASSWORD:-redis_password}
    volumes: 
      - redis:/data

  # redisinsight:
  #   image: redis/redisinsight:latest
  #   container_name: redisinsight
  #   ports:
  #     - "5540:5540"
  #   depends_on:
  #     - redis
  #   restart: always

volumes:
  database:
  redis: