services:
  local_server:
    # image: nginx:stable-alpine
    build: .
    container_name: ${CONTAINER_PROXY:-local_server}
    restart: always
    volumes:
      # Nginx configuration
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/logs:/var/log/nginx

      # phpMyAdmin configuration
      - ./docker/pma-config.inc.php:/var/www/html/phpmyadmin/config.inc.php
      
      # php configuration
      - ./docker/conf-php.ini:/usr/local/etc/php/conf.d/xxx-php.ini

      # project
      - ${PMI_CCB2B}
      - ${CCB2B_V2}
      - ${CCB2B_INVOICE_V2}
      - ${workplace}
      - ../pmi-summit2025/:/var/www/html/pmi-summit2025
      - ../backoffice/:/var/www/html/backoffice
      - ../backoffice/:/var/www/html/backoffice
      - ../pmi-date-code-reader/:/var/www/html/pmi-date-code-reader
      - ../campaign/:/var/www/html/campaign
      # - ${Badget}
      # - ${Tracker}
    working_dir: /var/www/html
    environment:
      # phpmyadmin configuration  
      PMA_HOST: ${CONTAINER_DB:-database}
      PMA_USER: ${DB_ROOT_USER:-root}
      PMA_PASSWORD: ${DB_ROOT_PASSWORD:-root_password}
      MAX_EXECUTION_TIME : ${MAX_EXECUTION_TIME:-10000}
      PMA_ARBITRARY: 0
      
      # php configuration
      TZ: '${TIMEZONE:-Asia/Kuala_Lumpur}'
      UPLOAD_LIMIT: ${UPLOAD_LIMIT:-2048M}
      MEMORY_LIMIT : ${MEMORY_LIMIT:-1024M}
    ports:
     - "80:80"
     - "8000:8000"
     - "5173:5000"
    networks:
      - base_service
      - vaultwarden_network 

  database:
    image: mysql:latest
    container_name: ${CONTAINER_DB:-database}
    restart: always
    environment:         
      TZ: '${TIMEZONE:-Asia/Kuala_Lumpur}'
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD:-root_password}
      MYSQL_INIT_SQL: |
        SET @@GLOBAL.sql_mode=(SELECT REPLACE(@@sql_mode,'ONLY_FULL_GROUP_BY',''));
    volumes:
      - database:/var/lib/mysql
      - ./database/initdb.sql:/docker-entrypoint-initdb.d/initdb.sql
      - ./database:/import_database
    ports:
     - "3306:3306"
    networks:
      - base_service

  redis:
    container_name: ${CONTAINER_REDIS:-redis}
    image: redis:alpine
    restart: always
    command: redis-server --save 20 1 --loglevel warning --requirepass ${REDIS_PASSWORD:-redis_password}
    environment:
      REDIS_PASSWORD: ${REDIS_PASSWORD:-redis_password}
    volumes: 
      - redis:/data
    ports:
      - '6379:6379'
    networks:
      - base_service
  redisinsight:
    image: redis/redisinsight:latest
    container_name: redisinsight
    ports:
      - "5540:5540"
    depends_on:
      - redis
    restart: always
    networks:
      - base_service

  chat2db:
    image: chat2db/chat2db:latest
    container_name: chat2db
    ports:
      - "10824:10824"
    volumes:
      - ~/.chat2db-docker:/root/.chat2db
      - ./id_rsa:/home/id_rsa
    stdin_open: true
    tty: true
    networks:
      - base_service

  # focalboard:
  #   image: mattermost/focalboard
  #   container_name: focalboard
  #   restart: always
  #   ports: 
  #     - "8000:8000"
  #   networks: 
  #     - base_service
  #   volumes:
  #     - ./database/focalboard.config.json:/opt/focalboard/config.json

  # vaultwarden:
  #   image: vaultwarden/server:latest
  #   container_name: vaultwarden
  #   restart: unless-stopped
  #   environment:
  #     - WEBSOCKET_ENABLED=true
  #     - SIGNUPS_ALLOWED=true
  #     - ADMIN_TOKEN=your_admin_token
  #   volumes:
  #     - ./vw-data:/data
  #   networks:
  #     - vaultwarden_network

  hoppscotch:
    container_name: ${CONTAINER_HOPPSCOTCH:-hoppscotch}
    image: hoppscotch/hoppscotch:latest
    environment:
      - JWT_SECRET=hoppscotch_secret_key
    ports:
      - "3000:3000"
    restart: unless-stopped

networks:
  base_service:
    name: base_service
  vaultwarden_network:
    driver: bridge

volumes:
  phpmyadmin:
  database:
  redis: